@model RestaurantApp.Models.DbModels.MenuItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Menu item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Menu.MenuDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu.MenuDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuItemName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Calories)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calories)
        </dd>




    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MenuItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
